{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<!-- Sign Up Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sign Up</span></h2>
    <div class="row px-xl-5">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 col-md-12 col-sm-12">

                {% if messages %}

                {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">
                            {{message}}
                        </div>
                {% endfor %}

        {% endif %}
                 
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <form name="signUp" id="signupForm" novalidate="novalidate">
                    {% csrf_token %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert-alert-{{ messages.tags }}">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}  
                    <br>   
                   {{form.name}}
                   <br>
                   {{form.surname}}
                   <br>
                   {{form.email}}
                   <br>
                   {{form.password}}
                   <br>
                   {{form.password2}}
                   <br>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="signupButton">Sign
                            Up</button>
                    </div>
                </form>
            </div>
        </div>
<!-- SignUp End-->
{% endblock %}